@using Tests.Entities
@{
    ViewData["Title"] = "Home Page";
}
@model List<Name>
<div   class="container">
    <div><a class="btn btn-danger btn-lg" asp-action="index" asp-controller="Person"  >Person</a></div>
  
   
   
   
</div>
